@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-size: 50px;
}

/* Pantalla de login */

.login {
    background: #D4D4D4;
}

.login-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    width: 600px;
    height: 900px;
}

.login h2 {
    text-transform: uppercase;
}

.login-div h2, .login-div h3 {
    text-align: center;
}

.login form {
    margin-top: 70px;
}

.login form input {
    max-width: 100%;
    height: 100px;
    border-color: #707070;
    border-radius: 7px;
    border-width: 2px;
}

.login-text { 
    margin: 50px -2px 0 0; 
    padding: 0 0 0 5px; 
    color: #707070;     
    width: 100%;
}

.login-submit {
    position: absolute;
    left: 50%;
    border: none;
    text-transform: uppercase;
    transform: translateX(-50%);
    margin: 150px 0 0 5px; 
    background: #75A7E0;
    width: 300px;
    color: white;
    cursor: pointer;
}

/*** Resto de la página ***/

nav {
    min-height: 60px;
    background: #D4D4D4;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
}

h2 { font-size: 80px; }
h3 { font-size: 60px; }

section {
    display: flex;
}

.cursos, .vercurso {
    width: 95%;
    margin: 20px auto;
}

/* Cursos */

.cursos a {
    text-decoration: none;
    cursor: pointer;
}

.curso h3 { color: white; }

.cursos table {
    width: 100%;
    margin-bottom: 20px;
}


.cursos table td {
    padding: 30px;
    border-bottom: solid grey 1px;
    border-left: solid grey 1px;
    border-right: solid grey 1px;
}

.cursos-nombre-escuela {
    text-align: left;
    background-color: blue;
    color: white;
    font-size: 1.17em;
} 

.cursos-nombre-escuela th {
    padding: 30px;
}

.cursos li {
    margin-bottom: 10px;
}

/* Ver curso */

.vercurso tr { text-align: left; }

.curso-acciones {
    list-style: none;
    width: 100%;
    align-items: center;
}

.curso-acciones li {
    float: left;
    margin: 0 5px;
}

.curso-acciones > li > a {
    font-size: 50px;
}

@media only screen and (min-width: 1000px) {
    * {
        font-size: 16px;
    }

    .login form {
        margin-top: 70px;
    }

    .login form input {
        height: 30px;
        border-width: 1px;
    }

    .login-div {
        width: 200px;
        height: 300px;
    }

    .login-text { 
        margin: 10px -2px 0 0; 
    }

    .login-submit {
        width: 100px;
        margin: 50px 0 0 5px; 
    }

    h2 {font-size: 1.5em;}
    h3 {font-size: 1.17em;}

    .cursos, .vercurso {
        width: 70%;
        margin: 40px auto;
    }
    
    /* Cursos */

    .cursos h3 {
        margin-bottom: 20px;
    }
    
    .cursos table {
        margin-top: 10px;
    }

    .cursos table {
        width: 100%;
        margin-bottom: 20px;
    }

    .cursos table td {
        padding: 10px;
        border-bottom: solid grey 1px;
        border-left: solid grey 1px;
        border-right: solid grey 1px;
    }

    .cursos-nombre-escuela {
        text-align: left;
        background-color: blue;
        color: white;
        font-size: 1.17em;
    } 

    .cursos-nombre-escuela th {
        padding: 10px;
    }

    /* Ver curso*/

    .curso-acciones {
        list-style: none;
        width: 100%;
    }
    
    .curso-acciones li {
        margin: 0 5px;
    }
    
    .curso-acciones a {
        font-size: 20px;
    }
}

